body {background-color: #000;}

a {transition: .3s; text-decoration: none !important;}
* {outline: none !important; font-family: 'Righteous', cursive;}

.nav-main {position: fixed; top: 25px; left: 25px; z-index: 999;}
.nav-main .logo-container {width: 180px; height: 95px;}
.nav-main .logo-container img {border: 2px solid #5f051f; border-radius: 10px; background-color: #FFF;}
.nav-main .btn {border: 1px solid #FFF; margin-top: 10px; padding: 15px 35px; background-color: #5f051f; transition: .3s;}
.nav-main .btn:hover {background-color: #FFF;}
.nav-main .btn span {color: #FFF; transition: .3s;}
.nav-main .btn:hover span {color: #5f051f;}
.nav-main .btnShare {margin-left: 5px;} 
.nav-main .dropdown-menu {height: 0; border: 0; transition: .5s; display: block; opacity: 0; overflow: hidden; left: 0; min-width: 140px; margin-top: 10px; box-shadow: none; background-color: transparent;}
.nav-main .open .dropdown-menu {height: 340px; opacity: 1; left: 15px; overflow: visible;} 
.nav-main .dropdown-menu li a {padding: 10px 15px; text-align: center; color: #5f051f; text-transform: uppercase; font-size: 22px;}
.nav-main .dropdown-menu li a:hover {color: #FFF; background-color: #5f051f;}

.nav-main .dropdown-menu {}
.nav-main .dropdown-menu li {background-color: #FFF; position: relative; left: 0px; border: 2px #FFF solid; transition: .5s ease-out;}
.nav-main .dropdown-menu li:hover {left: 20px; border-color: #FFF;}

.nav-main .dropdown-menu li a:before {font-family: 'FontAwesome'; right: initial; margin-left: -5px; font-size: }
.nav-main .section-menu li:nth-child(1) a:before {content: "\f015";}
.nav-main .section-menu li:nth-child(2) a:before {content: "\f044";}
.nav-main .section-menu li:nth-child(3) a:before {content: "\f1c5";}
.nav-main .section-menu li:nth-child(4) a:before {content: "\f008";}
.nav-main .section-menu li:nth-child(5) a:before {content: "\f0e5";}
.nav-main .section-menu li:nth-child(6) a:before {content: "\f095";}
/*.nav-main .share-menu li:nth-child(1) a:before {content: "\f082";}
.nav-main .share-menu li:nth-child(2) a:before {content: "\f081";}
.nav-main .share-menu li:nth-child(3) a:before {content: "\f16d";}*/

.container {width: 100%; height: 100%;}

body {height: 100%; width: 100%; margin: 0; overflow-x: scroll; overflow-y: hidden; background-color: #FFF; min-height: 660px;}
main {width: 4000px; height: 100%;}
section {display: inline-block; height: 100%; width: 100%; vertical-align: top; position: relative;} 
ul li a {color: inherit;}

.background {position: fixed; background-image: url(../img/bg1.jpg); background-repeat: no-repeat; background-size: cover; height: 100%; width: 100%;}
.overlay {position: fixed; height: 100%; width: 100%; background-color: rgba(0,0,0,.85);}
/*.landing .overlay {background-color: rgba(0,0,0,.85);}*/
.landing-logo img {position: relative; width: 300px; margin: 200px auto 0; opacity: 0;}
.landing-logo button {display: block; margin: 20px auto 0; background-color: transparent; border-radius: 0; width: 65px; height: 32px; border: 1px solid #FFF; opacity: 0;}
.landing-logo button:before {background: #5f051f;}
.landing-logo button i {color: #FFF; position: relative;}

.updates {background-color: transparent;}
/*.updates .overlay {background-color: rgba(0,0,0,.65);}*/
.updates .container:before {position: absolute; top: -100px; height: 200px; width: 100%; left: 0; background-color: #202326; transform: skew(0deg, -4deg); content: " ";}
.updates .container:after {position: absolute; bottom: -50px; height: 200px; width: 100%; left: 0; background-color: #202326; transform: skew(0deg, 4deg); content: " "; z-index: 48;}
.updates .container {position: absolute; top: 50%; transform: translateY(-50%); height: auto; background-color: #202326;}
.updates h3, .updates ul li {color: #FFF;}

.news-heading h2 {color: #FFF;}
.news-heading p {font-family: 'Dosis', sans-serif; color: #FFF;}

.carousel-wrapper .item img {width: 100%;}
.carousel-wrapper .carousel-indicators {left: 0; bottom: 0; margin-bottom: 0; margin-left: 0; width: 100%; overflow: auto;}
.carousel-wrapper .carousel-indicators li {width: 25% !important; height: 5px; border-radius: 0; border: none; display: block; float: left; margin: 0; background-color: #CCC; transition: .5s;}
.carousel-wrapper .carousel-indicators li.active {background-color: #5f051f;}
.carousel-wrapper .title-box a:hover {text-decoration: none;}

.align-content-right {text-align: right;}

/*.gallery .overlay {background-color: rgba(0,0,0,.85);}*/
.gallery .container {position: absolute; top: 50%; transform: translateY(-50%); height: auto;}
.gallery-images {text-align: center;}
.gallery-images li {width: 200px;  height: 200px; position: relative; margin: 10px 15px; background-color: #5f051f; padding: 0; cursor: pointer;}
.gallery-images li img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; transition: .5s;}
.gallery-images li div {overflow: hidden; height: 100%; width: 95%; display: inline-block; position: relative; background-color: #000;}
.gallery-images li:nth-child(odd) div {transform: translateZ(0) skew(0,-4deg); transition: .5s; transform-origin: left center;}
.gallery-images li:nth-child(even) div {transform: translateZ(0) skew(0,4deg); transition: .5s; transform-origin: right center;}
.gallery-images li:hover div {transform: translateZ(0) skew(0, 0deg); width: 100%;}
.gallery-images li:nth-child(even) {text-align: right;}
.gallery-images li:nth-child(odd) {text-align: left;}
.gallery-images li:hover img {opacity: .8;}
.gallery-images li div p {position: absolute; left: 15px; bottom: -300px; color: #FFF; font-size: 24px; margin: 0; transform: rotate(-90deg) translateZ(0); transform-origin: left center; transition: .5s; text-shadow: 0px 0px 8px rgba(81, 81, 81, 1);}
.gallery-images li:hover div p {left: 15px; bottom: -10px;}

.videos .container {position: absolute; top: 50%; transform: translateY(-50%); height: auto;}
.featured-video {position: relative; width: 100%;}
.featured-video video {width: 100%;}

.team .container {position: absolute; top: 50%; transform: translateY(-50%); height: auto;}
.team-members {text-align: center;}
.team-members li {height: 300px; width: 220px; margin: 10px; overflow: hidden;}
.team-members li img {	}